.Navbar{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 70px;
    position: fixed;
    left: 20px;
    height: 40px;
}
.avatar{
    width: 30px;
    position: fixed;
    right: 20px;
}